body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,94,1) 0%, rgba(0,122,255,1) 0%, rgba(224,227,170,1) 0%, rgba(170,204,228,1) 87%);
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

p {
  color: black;
}

#result {
  font-size: 28px;
  margin: 20px;
  padding: 20px;
}

#wait_msg {
  font-size: 28px;
}

.button {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,94,1) 0%, rgba(0,122,255,1) 0%, rgba(221,230,73,1) 0%, rgba(192,217,105,1) 18%, rgba(211,222,72,1) 28%, rgba(80,166,227,1) 87%);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,94,1) 0%, rgba(0,122,255,1) 0%, rgba(48,112,210,1) 32%, rgba(230,231,38,1) 66%);*/
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,122,255,1) 0%, rgba(224,227,170,1) 0%, rgba(210,153,20,1) 33%, rgba(247,179,32,1) 39%, rgba(60,134,249,1) 67%);
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 20px;
  padding 20px;
}

/* Style the upload field */
input[type="file"] {
  padding: 10px;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  width: 50%;
  max-width: 400px;
  box-sizing: border-box;
  color: black;
}
.form {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem .7rem .7rem .7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 400px;
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 140, 255, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

.quote-container {
  margin: 40px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.checkbox-wrapper-23 *,
  .checkbox-wrapper-23 *:after,
  .checkbox-wrapper-23 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid black;
  /*border: 2px solid rgb(253, 237, 237);*/
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}

.checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-23 input + label svg path {
  fill: none;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1,0,.37,.91);
}



@import url(https://fonts.googleapis.com/css?family=Bitter);
blockquote {
  position: relative;
  display: inline-block;
  background: #eee;
  padding: 40px 30px 30px 60px;
  border-radius: 10px;
  font-family: 'Bitter', serif;
  color: #333;
  text-align: left;

  box-shadow: 1px 1px 1px #999,
  2px 2px 1px #999,
  3px 3px 1px #999;
  transition-duration: .3s;

  span.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #999;

    i {
      position: relative;
      background: #eee;
      padding-left: 5px;
      font-style: italic;
      z-index: 5;
    }

    ::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ccc;
      z-index: 1;
    }
    }


  :hover {
    box-shadow: 1px 1px 5px #999,
                2px 2px 6px #999,
                3px 3px 7px #999;
  }

  ::before {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    content: "\"";
    font-family: 'Bitter', serif;
    font-size: 120px;
    color: #999
  }
}
